/* !Impostazioni Generali */
/* #region Impostazioni Generali */
body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-color: #f7f7f7; /* Sfondo neutro */
}

:root {
    --main-bg-color: #13c1ac; /* Verde chiaro */
    --main-bg-color-var: #b8ece6; /* Verde chiaro */

    --button-color: #136d60; /* Verde scuro */
    --navbar-hover-color: #72d1c2;

    --color-text: #1c1c1c; /* Testo */
}

/* #endregion */

/*! Utiliti */
/* #region  */
/* Titoli */
.category-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--button-color); /* Verde scuro */
}

.category-title .highlight {
    color: var(--main-bg-color); /* Verde chiaro */
    font-weight: bold;
}

/* Descrizioni */
.category-description {
    font-size: 1rem;
    color: #666; /* Grigio scuro */
    margin-bottom: 20px;
}
/* #endregion */

/*? Navbar */
/* #region  */
.navbar {
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
}

.navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #13c1ac;
    display: flex;
    align-items: center;
}

.navbar .navbar-brand i {
    margin-right: 8px;
    font-size: 1.5rem;
}

.navbar-width1 {
    min-width: 50vw;
}

.navbar-flag {
    max-width: 70px;
}

#languageDropdown:focus {
    border: none;
}

.flag-dropdown {
    --bs-dropdown-min-width: none;
}

/* #endregion */

/*! Navbar Searchbox */
/* #region  */
.navbar .search-box {
    position: relative;
    width: 50%; /* Dimensione centrale */
    max-width: 600px;
}

.navbar .search-box input {
    background-color: #e0f7f4; /* Sfondo verde chiaro */
    border: none;
    padding: 10px 15px 10px 40px;
    border-radius: 25px;
    color: #333; /* Testo scuro */
    font-size: 1rem;
    width: 100%;
    outline: none;
    transition: all 0.3s ease;
}

.navbar .search-box input::placeholder {
    color: #888888; /* Testo placeholder */
}

.navbar .search-box i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #333; /* Icona scura */
}

.navbar .search-box input:focus {
    background-color: white; /* Sfondo bianco al focus */
    border: 2px solid #13c1ac; /* Bordo verde chiaro */
    outline: none;
}

.navbar .search-box input:hover {
    background: var(--navbar-hover-color);
}

/* #endregion */

/* ! Bottoni */
/* #region  */

.btn-primary {
    background-color: #13c1ac; /* Verde chiaro */
    border-radius: 25px;
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 8px 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center; /* Centra sia icona che testo */
    transition: all 0.3s ease;
}

.btn-primary i {
    font-size: 1.2rem;
}

.btn-primary:hover {
    background-color: #136d60;
    color: white;
}

.btn-outline-primary {
    border: 2px solid #13c1ac;
    color: #13c1ac;
    border-radius: 25px;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 8px 20px;
    transition: all 0.3s ease;
}

.btn-outline-primary:hover {
    background-color: #13c1ac;
    color: white;
}

/* Pulsante */
.btn-custom {
    background-color: var(--main-bg-color); /* Verde chiaro */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px; /* Bottone arrotondato */
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
}

.btn-custom:hover {
    background-color: var(--button-color); /* Verde scuro */
    transform: scale(1.05); /* Effetto hover */
}

.btn-success,
.btn-danger,
.btn-warning {
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px;
    transition: all 0.3s ease;
}

/* #endregion */

/* ! Input */
/* #region  */
.image-input1 {
    min-height: 50vh;
    min-width: 75vw;
}

/* #endregion */

/*! #Categorie  */
/* #region  */

.categories-bar {
    font-family: "Roboto", sans-serif;
    background-color: white;
    border-color: #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.category-item {
    font-size: 1rem; /* Dimensione del testo */
    font-weight: 500; /* Peso medio */
}
.categories-bar .container {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
}

.categories-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.category-item {
    margin-right: 2rem;
    font-size: 1rem;
    font-weight: 500;
}

.category-link {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.category-link:hover {
    color: #13c1ac;
}
/* Immagini con Cornice */
.category-box {
    display: inline-block;
    background-color: white;
    border: 5px solid var(--main-bg-color); /* Cornice con il colore verde chiaro */
    border-radius: 15px; /* Angoli arrotondati */
    padding: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-img {
    width: 100%;
    border-radius: 10px; /* Immagine con angoli arrotondati */
    transition: transform 0.3s ease;
    max-height: 65vh;
}

/* #endregion */

/* ! Hero section */
/* #region  */
/* ! Hero section */
/* Hero Section */
.hero-section {
    background-color: #136d60; /* Colore di sfondo */
    color: white;
    min-height: 60vh;
    padding: 20px 0;
    background: linear-gradient(90deg, #004d3b 50%, #007a71 100%);
}

.hero-text-box {
    background-color: #00695c;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.hero-text-box h1,
.hero-text-box h2 {
    color: #d8ff7c; /* Colore del testo */
    margin-bottom: 10px;
}

.hero-text-box .btn-hero {
    background-color: #d8ff7c;
    color: #004d40;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    max-width: 80%; /* Riduce la larghezza per bilanciare */
}

.hero-text-box .btn-hero:hover {
    transform: scale(1.1); /* Effetto di ingrandimento al passaggio */
    background-color: #00b36b; /* Colore leggermente più scuro */
}

.hero-image {
    border-radius: 15px; /* Arrotonda i bordi */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Ombra elegante */
    max-width: 90%; /* Riduce leggermente la larghezza */
    max-height: 400px; /* Altezza massima */
    height: auto; /* Mantiene le proporzioni */
    margin: 0 auto; /* Centra l'immagine */
    display: block; /* Assicura che sia un elemento di blocco */
    filter: brightness(95%);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Ombra più evidente */
}

.hero-section .col-md-6:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Spaziatura uniforme */
}

/* Per assicurare che le colonne siano attaccate */
.row {
    gap: 0 !important;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
    }

    .hero-text-box {
        text-align: center;
    }

    .hero-image {
        margin-top: 20px;
        max-height: 300px;
    }
}
/* #endregion */

/*! Revisor hero section */
/* #region  */
.hero-section-with-overlay {
    position: relative;
    height: 50vh; /* Altezza della sezione */
    overflow: auto;
}

.hero-section-with-overlay img {
    object-fit: cover; /* Copre l'intera area */
    width: 100%;
    height: 100%;
}

.hero-overlay-specific {
    background-color: rgba(0, 0, 0, 0.6); /* Overlay scuro */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-text {
    z-index: 2;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase; /* Testo tutto maiuscolo */
}

.hero-text h1 {
    font-size: 3rem; /* Dimensione del testo */
    font-weight: bold;
    line-height: 1.2; /* Spaziatura tra le righe */
}
/* #endregion */

/*! Register e login  */
/* #region  */

.registration-box,
.login-box {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.registration-title,
.login-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #696969;
    margin-bottom: 20px;
}

.registration-title .highlight,
.login-title .highlight {
    color: var(--main-bg-color);
}

.form-column,
.image-column {
    padding: 20px 40px;
}
.form-group {
    margin-bottom: 20px; /* Aumenta lo spazio tra i campi */
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.form-control:focus {
    border-color: var(--main-bg-color);
    box-shadow: 0 0 5px var(--main-bg-color);
    outline: none;
}
/* #endregion */

/*! Cards */
/* #region  */
.latest-announcements {
    background-color: #f7f7f7; /* Sfondo leggero */
    padding: 50px 0;
}

.section-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #136d60;
    margin-bottom: 30px;
}

.announcement-card {
    margin-bottom: 20px;
}

.card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 5px;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 150px;
    object-fit: cover;
}

.card-title {
    font-size: 1.2rem;
    color: #136d60;
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}

.card-price {
    font-size: 1rem;
    color: #13c1ac;
    font-weight: bold;
}

.no-announcements {
    font-size: 1rem;
    color: #666;
}

.btn-primary {
    background-color: #13c1ac;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #136d60;
}

.img-fixer1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-styler1 {
    /* max-height: 500px; */

    object-fit:cover;
}


/* Classe per gestire immagini responsive nel carosello */
.img-custom {

    object-fit: cover;   /* Ritaglia l'immagine mantenendo il rapporto d'aspetto */
    object-position: center;
    padding: 10%;
}

.carousel-inner {
    max-height: 500px; /* Limita l'altezza massima del carosello */
    overflow: hidden;  /* Nasconde eventuali immagini fuoriuscite */
}

/* #endregion */

/*! revisor index  */
/* #region  */
.carousel-item img {
    object-fit: cover;
    height: 400px;
    width: 100%;
    border-radius: 0.5rem; /* Per gli angoli arrotondati */
}
.carousel-inner {
    background-color: black; /* Sfondo del carosello */
    height: 500px; /* Altezza fissa del carosello */
    display: flex;
    align-items: center; /* Centra verticalmente le immagini */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(
        0,
        0,
        0,
        0.5
    ); /* Sfondo semi-trasparente per i controlli */
    border-radius: 50%; /* Controlli arrotondati */
    width: 40px;
    height: 40px;
}

/* Pulsanti annunci accettati/rifiutati */
.btn-outline-success {
    background-color: transparent;
    border: 2px solid #198754; /* Verde */
    color: #198754; /* Colore testo */
    border-radius: 25px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-outline-success:hover {
    background-color: #198754; /* Verde pieno al passaggio */
    color: white;
}

.btn-outline-danger {
    background-color: transparent;
    border: 2px solid #dc3545; /* Rosso */
    color: #dc3545; /* Colore testo */
    border-radius: 25px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-outline-danger:hover {
    background-color: #dc3545; /* Rosso pieno al passaggio */
    color: white;
}
/* #endregion */

/*? Footer */
/* #region Footer  */
footer {
    padding-left: 2vw;
    padding: 0;
    overflow: hidden;
}

.background-footer {
    background-color: var(--main-bg-color-var);
    border-radius: 10px;
}

.footer-icon-size {
    min-width: 8vh;
    max-width: 8vh;
    border-radius: 10px;
}

.flag-size {
    min-height: 5vh;
    max-width: 5vh;
}

/* #endregion */

/** Media Query */
/* #region  */
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .category-box {
        margin-bottom: 20px;
    }

    .category-box img {
        max-width: 100%;
    }

    footer .row {
        text-align: center; /* Centra il testo */
    }

    footer .col-12 {
        display: flex; /* Usa il layout flexbox */
        flex-direction: column; /* Allinea verticalmente */
        align-items: center; /* Centra gli elementi */
    }

    .img-preview {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 120px;
        width: 120px;
    }

    .hero-text-box {
        min-width: 100%;
    }
}
/* #endregion */
